a[class*="toplevel_page_ACChild"] .wp-menu-image img{
    display:none;
}
.redux-container #redux-header .display_header img{
    display:none;
}
a[class*="toplevel_page_ACChild"] .wp-menu-image.dashicons-before:before,
.redux-container #redux-header .display_header:before{
    font-family: "ardent-bug";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    color: #fff;
    font-size: 20px;
    content: '\e800';
}
.wpb_ardent_image_overlay .wpb_element_wrapper {
    background-image: url(../img/admin-overlay-image.png)!important;
}
.vc_ui-panel-content-container li[data-element="ardent_image_overlay"].wpb-layout-element-button .icon-wpb-layer-shape-text{
    background-image: url(../img/admin-overlay-image.png)!important;
    background-position: 0px 0px!important;
}
.wpb_ardent_lightbox .wpb_element_wrapper {
    background-image: url(../img/admin-lightbox-image.png)!important;
}
.vc_ui-panel-content-container li[data-element="ardent_lightbox"].wpb-layout-element-button .icon-wpb-layer-shape-text{
    background-image: url(../img/admin-lightbox-image.png)!important;
    background-position: 0px 0px!important;
}
.wpb_ardent_typer .wpb_element_wrapper {
    background-image: url(../img/admin-typer-image.png)!important;
}
.vc_ui-panel-content-container li[data-element="ardent_typer"].wpb-layout-element-button .icon-wpb-layer-shape-text{
    background-image: url(../img/admin-typer-image-2.png)!important;
    background-position: 0px 0px!important;
}
.wpb_ardent_page_password .wpb_element_wrapper {
    background-image: url(../img/admin-page-password-image.png)!important;
}
.vc_ui-panel-content-container li[data-element="ardent_page_password"].wpb-layout-element-button .icon-wpb-layer-shape-text{
    background-image: url(../img/admin-page-password-image.png)!important;
    background-position: 0px 0px!important;
}
.el-calendar:before{
    content: "" !important;
}
.vc_ui-panel-content-container li[data-element="ardent_slide_reveal"].wpb-layout-element-button .icon-wpb-layer-shape-text{
    background-image: url(../img/admin-slide-reveal.png)!important;
    background-position: 0px 0px!important;
}
.wpb_ardent_slide_reveal .wpb_element_wrapper {
    background-image: url(../img/admin-slide-reveal.png)!important;
}
#wp-_nectar_slider_editor-wrap .button.nectar-shortcode-generator > img{
    width:auto;
    display:inline-block;
}
div#_nectar_header_bg_multiple ul.imagelist.ardent-html-ul img.ardent-html-wp-image {
    width: 100%;
}