/*
Theme Name: AC Child
Template: ac
Version: 7.6.0044
*/

/***************** STYLE FIXES **********************/
.wpb_row .nectar-parallax-scene {
    overflow: inherit !important;
}
body.frm_preview_page{
    background:#fff;
}
sup{
    font-size: 75%;
}

/***************** SECONDARY SIDEBAR STYLES **********************/
ul.header_secondary_nav_sidebar{
    list-style:none;
    padding:0;
}
ul.header_secondary_nav_sidebar li{
    list-style:none;
    display:inline-block;
}
#header-secondary-outer > .container > nav > .mobile{
    display:none !important;
}
@media only screen and (max-width:1000px){
    #header-secondary-outer > .container > nav > .mobile{
        display:block !important;
    }
    #header-secondary-outer > .container > nav > .mobile + *{
        display:none !important;
    }
}

/************** ROOT LEVEL MEGA MENU STYLES *******************/
.root-level-megamenu > li > ul.sub-menu{
    position: static !important;
    width: auto !important;
    display:block !important;
    opacity:1 !important;
    box-shadow:none !important;
}
body #header-outer:not([class='transparent']) header#top nav > ul.root-level-megamenu > li.megamenu > ul.sub-menu,
body #header-outer:not([class='transparent']) header#top nav > ul.root-level-megamenu > li.megamenu > ul.sub-menu > li a{
    background:transparent !important;
}

/************** TRIBE EVENTS STYLES *******************/
body.post-type-archive-tribe_events,
body.single-tribe_events,
body.single-tribe_venue{
    padding-right:0 !important;
}
/************** CSS LOADER STYLES *******************/
@-webkit-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.custom-loader-css {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity:1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.custom-loader-css .uil-ring-css {
    background: none;
    width: 200px;
    height: 200px;
    transform: scale(0.33);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}
.custom-loader-css .uil-ring-css > div {
    position: absolute;
    display: block;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 80px;
    box-shadow: 0 6px 0 0 #666666;
    -ms-animation: uil-ring-anim 1s linear infinite;
    -moz-animation: uil-ring-anim 1s linear infinite;
    -webkit-animation: uil-ring-anim 1s linear infinite;
    -o-animation: uil-ring-anim 1s linear infinite;
    animation: uil-ring-anim 1s linear infinite;
}
.post_password_form{
    opacity:1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.custom-loader-css + .post_password_form{
    opacity:.3;
}
.custom-loader-css + .post_password_form:before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/************** PASSWORD PROTECTED STYLES *******************/
html body .container-wrap form.post-password-form,
html body form.post-password-form{
    position:relative;
    margin-top:40px;
    font-size: 20px;
}
html body .container-wrap form.post-password-form label,
html body form.post-password-form label{
    display: block;
    font-size: 16px;
}
html body .container-wrap form.post-password-form input[type='password'],
html body form.post-password-form input[type='password']{
    width: 75%;
    margin-right: 20px;
    vertical-align: middle;
    margin-bottom:20px;
    padding: 16px!important;
    border: 1px solid #ccc!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    font-size: 16px!important;
    background-color: transparent!important;
}
html body .container-wrap form.post-password-form input[type='submit'],
html body form.post-password-form input[type='submit']{
    padding: 21px !important;
    vertical-align: middle;
    margin-bottom:20px;
}
#cboxContent form.post-password-form{
    padding: 0 20px;
}

/************** NOTICE STYLES *******************/
.notice{
    color:#31708f;
}
.notice:before{
    content: "\f05a";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right:7px;
}
.notice.notice-box{
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    border:1px solid #31708f;
    background:#d9edf7;
    font-size:15px;
}
.notice.notice-box:before{
    font-size:25px;
    vertical-align: middle;
}
.notice.notice-success{
    color:#3c763d;
}
.notice.notice-success:before{
    content: "\f058";
}
.notice.notice-success.notice-box{
    border:1px solid #3c763d;
    background:#dff0d8;
}
.notice.notice-warning{
    color:#8a6d3b;
}
.notice.notice-warning:before{
    content: "\f071";
}
.notice.notice-warning.notice-box{
    border:1px solid #8a6d3b;
    background:#fcf8e3;
}
.notice.notice-error{
    color:#a94442;
}
.notice.notice-error:before{
    content: "\f06a";
}
.notice.notice-error.notice-box{
    border:1px solid #a94442;
    background:#f2dede;
}

/***************** OEMBED STYLES **********************/
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

/***************** SLIDE REVEAL STYLES **********************/
.reveal_image{
    position:relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.reveal_image > .slide_container{
    overflow:hidden;
}
.reveal_image > .drag_icon{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.reveal_image > .drag_icon.left.middle{
    top:50%;
}
.reveal_image > .drag_icon.left.bottom{
    top:auto;
    bottom:0;
}
.reveal_image > .drag_icon.right{
    left:auto;
    right:0;
}
.reveal_image > .drag_icon.right.middle{
    top:50%;
}
.reveal_image > .drag_icon.right.bottom{
    top:auto;
    bottom:0;
}
.reveal_image > .drag_icon.top.middle{
    left:50%;
}
.reveal_image > .drag_icon.bottom.middle{
    top:auto;
    left:50%;
    bottom:0;
}
.reveal_image > .drag_icon > .inner_drag_icon{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor:pointer;
}
.reveal_image > .drag_icon.left.top > .inner_drag_icon,
.reveal_image > .drag_icon.left.middle > .inner_drag_icon{
    top:-50%;
    right:50%;
    left:-50%;
    bottom:50%;
}
.reveal_image > .drag_icon.left.bottom > .inner_drag_icon{
    top:50%;
    right:50%;
    left:-50%;
    bottom:-50%;
}
.reveal_image > .drag_icon.right.top > .inner_drag_icon,
.reveal_image > .drag_icon.right.middle > .inner_drag_icon{
    top:-50%;
    right:-50%;
    left:50%;
    bottom:50%;
}
.reveal_image > .drag_icon.right.bottom > .inner_drag_icon{
    top:50%;
    right:-50%;
    left:50%;
    bottom:-50%;
}
.reveal_image > .drag_icon.top.middle > .inner_drag_icon{
    top:-50%;
    right:50%;
    left:-50%;
    bottom:50%;
}
.reveal_image > .drag_icon.bottom.middle > .inner_drag_icon{
    top:50%;
    right:50%;
    left:-50%;
    bottom:-50%;
}
.reveal_image > .slide_container > .slide_image{
    position:relative;
    left:0;
    top:0;
}
.reveal_image.wipe > .slide_container > .slide_image{
    position: absolute;
    bottom:0;
    width:100%;
}
.reveal_image.wipe > .slide_container > .slide_image.left{
    background-position: left !important;
}
.reveal_image.wipe > .slide_container > .slide_image.right{
    background-position: right !important;
    left:auto;
    right:0;
}
.reveal_image.wipe > .slide_container > .slide_image.up{
    background-position: top !important;
}
.reveal_image.wipe > .slide_container > .slide_image.down{
    background-position: bottom !important;
}
.reveal_image.slide > .slide_container > .slide_image.slide.left,
.reveal_image.slide:hover > .slide_container > .slide_image.hover.left{
    left:-100%;
}
.reveal_image.slide > .slide_container > .slide_image.slide.right,
.reveal_image.slide:hover > .slide_container > .slide_image.hover.right{
    left:100%;
}
.reveal_image.wipe > .slide_container > .slide_image.slide.left,
.reveal_image.wipe:hover > .slide_container > .slide_image.hover.left{
    width:0;
}
.reveal_image.wipe > .slide_container > .slide_image.slide.right,
.reveal_image.wipe:hover > .slide_container > .slide_image.hover.right{
    left:auto;
    right:0;
    width:0;
}
.reveal_image.wipe > .slide_container > .slide_image.slide.up,
.reveal_image.wipe:hover > .slide_container > .slide_image.hover.up{
    bottom:100%;
}
.reveal_image.wipe > .slide_container > .slide_image.slide.down,
.reveal_image.wipe:hover > .slide_container > .slide_image.hover.down{
    top:100%;
}
.reveal_image.wipe.mousemove > .slide_container > .slide_image{
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:auto;
}
.reveal_image.slide > .slide_container > .slide_image > img{
    display:block;
    visibility:hidden;
    width:100%;
    height:auto;
    margin-bottom:0;
}
.reveal_image.wipe > .slide_container > .slide_image > img{
    display:none;
}
.reveal_image.slide > .slide_container > img{
    display:none;
}
.reveal_image.wipe > .slide_container > img{
    display:block;
    visibility:hidden;
    width:100%;
    height:auto;
    margin-bottom:0;
}

/***************** LIGHTBOX STYLES **********************/
body #colorbox, body #cboxOverlay, body #cboxWrapper{
    z-index: 99999;
}
body .lightcase-contentInner video{
    visibility:visible;
}
body #cboxClose{
    top:0;
    bottom:auto !important;
}

/***************** IMAGE OVERLAY STYLES **********************/
.ac-overlay-wrap{
    position:relative;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ac-overlay-wrap > .ac-overlay-container{
    display:block;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:5;
    -webkit-transition: background .25s ease-out;
    -moz-transition: background .25s ease-out;
    -o-transition: background .25s ease-out;
    transition: background .25s ease-out;
}
.ac-overlay-wrap .img-default-span,
.ac-overlay-wrap > .ac-overlay-image.image-scale{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.ac-overlay-wrap > .ac-overlay-image img{
    width:100% !important;
}
.ac-overlay-wrap > .ac-overlay-container + .ac-overlay-image,
.ac-overlay-wrap > .ac-overlay-container + .ac-overlay-image img.ardent-html-wp-image{
    margin-bottom:0 !important;
    display:block;
}
.ac-overlay-wrap > .ac-overlay-container > .ac-overlay-content-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
}
.ac-overlay-wrap > .ac-overlay-container > .ac-overlay-content-wrapper > .ac-overlay-content-table{
    display: flex;
    width:100%;
    height:100%;
}
.ac-overlay-wrap > .ac-overlay-container > .ac-overlay-content-wrapper > .ac-overlay-content-table > .ac-overlay-content{
    flex-basis: 100%;
    line-height:normal;
}
.ac-overlay-wrap > .ac-overlay-container > .ac-overlay-content-wrapper.split-content-default,
.ac-overlay-wrap > .ac-overlay-container > .ac-overlay-content-wrapper.split-content-hover{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    opacity:1;
}
.ac-overlay-wrap > .ac-overlay-container > .ac-overlay-content-wrapper.split-content-hover{
    opacity:0;
}
.ac-overlay-wrap > .ac-overlay-image-fade > .ac-overlay-image-container{
    display:block;
}
.ac-overlay-wrap:hover > .ac-overlay-container > .ac-overlay-content-wrapper.split-content-default{
    opacity:0;
}
.ac-overlay-wrap:hover > .ac-overlay-container > .ac-overlay-content-wrapper.split-content-hover{
    opacity:1;
}
.ac-overlay-wrap:hover > .ac-overlay-image-fade > .ac-overlay-image-container{
    opacity:1;
}
.ac-overlay-wrap > .ac-overlay-container > .ac-overlay-content-wrapper,
.ac-overlay-wrap > .ac-overlay-image-fade > .ac-overlay-image-container,
.ac-overlay-wrap > .ac-overlay-container > .ac-overlay-content-wrapper > .ac-overlay-content-table > .ac-overlay-content,
.ac-overlay-wrap > .ac-overlay-container > .ac-overlay-content-wrapper > .ac-overlay-content-table > .ac-overlay-content *{
    -webkit-transition: color .25s ease-out,  opacity .25s;
    -moz-transition: color .25s ease-out,  opacity .25s;
    -o-transition: color .25s ease-out,  opacity .25s;
    transition: color .25s ease-out,  opacity .25s;
}
@media only screen and (max-width:1000px){
    .ac-overlay-wrap.ac-has-split-content.mobile-force-hover > .ac-overlay-container > .ac-overlay-content-wrapper.split-content-default{
        opacity:0 !important;
    }
    .ac-overlay-wrap.ac-has-split-content.mobile-force-hover > .ac-overlay-container > .ac-overlay-content-wrapper.split-content-hover{
        opacity:1 !important;
    }
}

/**************** NECTAR SLIDER STYLES ***********************/
body .nectar-slider-loading {
    background-image: url('img/textures/slider-bg.png');
}

/******************** HEADER STYLES **************************/
#header-secondary-outer .header_secondary_nav_sidebar,
#header-secondary-outer .header_secondary_nav_wysiwyg{
    padding: 0 10px;
}
#header-secondary-outer .header_secondary_nav_wysiwyg p:last-child{
    padding-bottom:0;
    margin-bottom:0;
}
@media only screen and (min-width:1000px){
    body header#top .mobile-logo{
        display:none !important;
    }
}
@media only screen and (max-width:1000px){
    body #header-outer header#top .span_9{
        float: right !important;
        width: auto !important;
    }
    body header#top .col.span_3.logo-has-image{
        z-index:100;
    }
    body header#top #logo img.mobile-logo{
        display:inline-block;
    }
    header#top .mobile-logo ~ img{
        display:none !important;
    }
    body header#top .col.span_3.mobile-align-left{
        text-align:left !important;
    }
    body header#top .col.span_3.mobile-align-center{
        width:100% !important;
        margin-right:0;
        text-align: center !important;
    }
    body header#top .col.span_3.mobile-align-center + .col.span_9.col_last{
        position: relative !important;
        z-index: 10000 !important;
    }
    .mobile-align-center a#logo{
        display:inline-block !important;
    }
}
@media only screen and (max-width: 610px){ 
    body[data-bg-header="true"] #page-header-wrap,
    body[data-bg-header="true"] #page-header-bg,
    body[data-bg-header="true"] #page-header-wrap + .container-wrap,
    body[data-bg-header="true"] #page-header-bg + .container-wrap{
        margin-top: 0px !important;
    }
}
@media only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
    header#top #logo .retina-logo { display: block!important; }
    header#top #logo .default-logo,  body header#top .mobile-logo{ display: none!important; }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
    header#top #logo .retina-logo { display: block!important; }
    header#top #logo .default-logo,  body header#top .mobile-logo{ display: none!important; }
}
